<div id="<%= dom_id listing %>">
  <p>
    <strong>Year:</strong>
    <%= listing.year %>
  </p>

  <p>
    <strong>Make:</strong>
    <%= listing.make %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= listing.model %>
  </p>

  <p>
    <strong>Odometer:</strong>
    <%= listing.odometer %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= listing.price %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= listing.location %>
  </p>

<p>
  This <%= listing.year %> <%= listing.make %> <%= listing.model %> for sale by owner is located in <%= listing.location %>.
</p>


 <% if listing.photo.attached? %>
  <p>
    <strong>Photo:</strong><br>
    <%= image_tag listing.photo.variant(resize_to_limit: [600, 400]) %>
  </p>
<% end %>

</div>
